<table class="table table-striped" id="myTable<%= current_user.id%>">
    <thead class="thead-dark">
    <tr>
      <th>Transaction Id</th>
      <th>Sender Name</th>
      <th>Reciever Name</th>
      <th>Sender UPI</th>
      <th>Reciever UPI</th>
      <th>Amount</th>
      <th>Option</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
<div id = "transaction2">  </div>
    <% @transactions.each do |transaction| %> 
      <tr>
        <td><%= transaction.id %></td>
        <td><%= User.find(transaction.sender_id).name %></td>
        <td><%= User.find(transaction.reciever_id).name  %></td>
        <td><%= User.find(transaction.sender_id).upi  %></td>
        <td><%= User.find(transaction.reciever_id).upi  %></td>
        <td><%= transaction.amount.round(2) %></td>
        <td><%= transaction.option %></td>
        <td><%= transaction.status %></td>
      </tr>   
    <% end %>
  </tbody>
</table>
 