<div class="card bg-light">
<h1>Request Money</h1>
<p>Enter following information to request money</p>
<%= form_with model: @transaction, data: { controller: "hello" }, method: :post ,url: new_give_path do|form| %>
  <div class="form-outline mb-4" > 
    <%= form.label :upi , class: "form-label"  %> 
    <%= form.text_field :upi, class: "form-control",  "data-hello-target": "upi", autocomplete: "off" ,id: "upi"%>
    <a data-action="click->hello#verify", name="verify", method= "get" font>Click to Verify</a>
  </div>
  <div id="user_info" ></div>
  </div>
  <div class="form-outline mb-4">
    <%= form.label :amount, class: "form-lab el" %>
    <%= form.text_field :amount, class: "form-control" , value: nil %>
    <% @transaction.errors.full_messages_for(:amount).each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
    <div id = "user_button">
    <%= form.submit "Request money", id:"send", disabled: true %><br>
  </div>
<%end%>
</div>