To take a loan fill the following
<%= form_with model: @loan, method: :post ,url: create_loan_path do|form| %>
  <div class="form-outline mb-4" > 
    <%= form.label :principal , class: "form-label"  %> 
    <%= form.text_field :principal, class: "form-control"%>
    <% @loan.errors.full_messages_for(:principal).each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
  <div class="form-outline mb-4">
    <%= form.label :tenure, class: "form-lab el"%>
    <%= form.text_field :time ,class: "form-control" %>
    <% @loan.errors.full_messages_for(:time).each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
    <div id = "user_button">
    <%= form.submit "Apply",method: :create, id:"send", name:"Send_money" %><br>
  </div>
<%end%> 